.marketBackground {
    background-image:url('../../images/market.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.dashboardBody {
    background-color: rgb(255, 255, 255, 0.5)
}